/*
1. Posicionamiento(position/display)
2. Box-model (margin/padding/widht/height)
3. Tipografia
4. Temas visuales(shadow-box/border-radius)
5. Otros
*/
:root{
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
}

header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, var(--black) 16.69%, var(--bitcoin-orange)100%);
}
header img{
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}
.header--title-container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
   align-self: center;
}
.header--title-container h1{
   
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.header--title-container p{
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}
.header--title-container .header--button{
     position: absolute;
     left: calc(50% - 118px);
     top:270px;
     display: block;
     margin-top:35px;
     padding: 15px;
     width: 229px;
     height: 48px;
     background-color: var(--off-white);
     box-shadow: 0 4px 8px rgba(89,73,30,0.16);
     border: none;
     border-radius: 5px;
     font-size: 1.4rem;
     font-weight: bold;
     text-decoration: none;
     color: var(--black);
}
.header--button span{
    display: inline-block;
    width:13px ;
    height: 8px;
    margin-left: 10px;
    background-image: url('./assets/icons/down-arrow.svg');
}
main{
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}
.main-exchange-container{
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}
.main-exchange-container .header--title-container--title{
    width: 90%;
    min-width: 238px;
    max-width: 900px;
    margin: 0 auto;
}
.main-exchange-container .backgroundImg{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url('./assets/img/Bitcoin.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.main-tables-container{
    display: flex;
    flex-direction: column;
}
.main-exchange-container h2{
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}
.main-exchange-container p{
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}
.container-monedas,
.container-comisiones{
    display: flex;
    flex-direction: column;
   
}
.container-monedas> p,
.container-comisiones> p{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    align-self: center;
    color: var(--bitcoin-orange);
}
.container-comisiones> p{
    color: var(--secondary-blue);
}
.main-tables-container{
    position: relative;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.main-tables-container .main-tables-container--monedas,
.main-tables-container--comisiones{
    display: grid;
    grid-template-columns: 1fr 1fr;
    scroll-snap-align: center;
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    margin: 0 20px;
    font-family: 'Inter',sans-serif;
}
.main-tables-container--monedas p,
.main-tables-container--comisiones p{
    padding: 15px;

}


.main-tables-container .main-tables-container--monedas p:first-child,
.main-tables-container--comisiones p:first-child{
    border-top-left-radius: 10px;
}
.main-tables-container .main-tables-container--monedas p:nth-child(2),
.main-tables-container--comisiones p:nth-child(2){
    border-top-right-radius: 10px;
}
.main-tables-container .main-tables-container--monedas p:nth-child(7),
.main-tables-container--comisiones p:nth-child(7){
    border-bottom-left-radius: 10px;
}
.main-tables-container .main-tables-container--monedas p:nth-child(8),
.main-tables-container--comisiones p:nth-child(8){
    border-bottom-right-radius: 10px;
}
.main-tables-container .main-tables-container--monedas p,
.main-tables-container--comisiones p{
    padding: 10px;
    margin:0;
    border: 1px solid var(--grey);
    color: var(--black);

}
.main-tables-container  .main-tables-container--monedas p:nth-child(2n),
.main-tables-container .main-tables-container--comisiones p:nth-child(2n){
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}
.main-tables-container .main-tables-container--monedas p span img{
    margin-left: 10px;
}

.main-tables-container--info,
.main-tables-container--info-coins{
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    border-radius: 8px;
    background-color: var(--soft-orange);
}

.main-tables-container--info-coins{
    background-color: var(--secondary-blue);
}
.main-tables-container--info p,
.main-tables-container--info-coins p{
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 300;
    color: var(--warm-black);
}

.main-product-detail{
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--warm-black);
}
.product-detail--batata-logo{
    position: absolute;
    width: 40px;
    height: 25px;
    top:-10px;
    left:calc(50% - 20px);
    background-image: url('./assets/icons/batata.svg');
}
.product-detail--title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}
.product-detail--title h2{
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.product-detail--title p{
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}
.product-detail--card{
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    min-height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color:var(--black) ;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.16);
}
.product-detail--card .clock,
.product-detail--card .eye,
.product-detail--card .money,
.product-detail--card .check
{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url('./assets/icons/clock.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.product-detail--card .eye{
    background-image: url('./assets/icons/eye.svg');
}
.product-detail--card .money{
    background-image: url('./assets/icons/dollar-sign.svg');
}
.product-detail--card .check{
    background-image: url('./assets/icons/check-circle.svg');
}
.product--card-title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}
.product--card-body{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}
.bitcoin-img-container{
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url('./assets/img/bitcoinbaby2x.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
.bitcoin-img-container h2{
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.plans-container{
    width: 100%;
    min-width: 320px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 70px;
    text-align: center;
   
}
.plans-container .title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;
}
.plans-container .title h2{
    padding-top: 50px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
   
    
}
.plans-container .title p{
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
    
}
.plans-container-slider{
    position: relative;
    display: flex;
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.plans-container__card{
    position: relative;
    scroll-snap-align: center;
    width: 70%;
    min-width: 190px;
    max-width: 300px;
    height: 250px;
    margin: 50px 5px 0;
    padding:0 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89,73,30,0.16);
}
.card-recomendado_boton{
    position: absolute;
    width: 100px;
    left: calc(50% - 50px);
    top: -10px;
    font-size: 1.2rem;
    margin-bottom: 20px;
    padding: 5px;
    border: 0;
    border-radius: 8px;
    background-color: var(--bitcoin-orange);
    color: var(--just-white);
}
.plans-container__card .parrafos{
 padding-top: 30px;
}
.plans-container__card h3{
   padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--black);
}
.plans-container__card .parrafos p:nth-child(2){
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 5.3rem;
    color: var(--black);
}
.plans-container__card .parrafos p>span{
    font-weight: 300;
    font-size: 1.2rem;
    vertical-align: text-top;
}
.plans-container__card .parrafos p:nth-child(3){
  font-size: 1.2rem;
  color: #757575;
}
.card-escoger_boton{
    width: 150px;
    height: 48px;
    margin: 0 auto;

    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    background-color: #faf8f7;
    border: 2px solid var(--bitcoin-orange);
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: bold;
    font-family: 'DM Sans',sans-serif;
    line-height: 1.8rem;
    color: var(--black);
    text-decoration: none;
}
.card-escoger_boton span{
   display: inline-block;
   width: 20px;
   height: 20px;
   background-image: url('./assets/icons/orange-right-arrow.svg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   vertical-align: text-bottom;
}


.main-product-detail{
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--warm-black);
}
footer{
    display: flex;
    width: 100%;
    height: 150px;
    background-color: var(--bitcoin-orange);
}
footer section{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .left .footer-ul{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
}
footer .left .footer-ul li{
    margin: 10px 0;
}
footer .left .footer-ul li a{
    text-decoration: none;
    color: var(--just-white);

}

